<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232925783602-i6gltorapq44vf6t6rclk07ep3r6fvub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232925783602-i6gltorapq44vf6t6rclk07ep3r6fvub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232925783602-pkkgtmk45iuku0j6mb053e659r11movv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEm8PofnLEzLrMt8PHXPiMtZIOITcRCyI</string>
	<key>GCM_SENDER_ID</key>
	<string>232925783602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itsula</string>
	<key>PROJECT_ID</key>
	<string>itsula-anadan</string>
	<key>STORAGE_BUCKET</key>
	<string>itsula-anadan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232925783602:ios:4d72202f23a01256a7be2b</string>
</dict>
</plist>